@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <! -- Mediante el ViewBag podemos acceder a los datos del modelo -->

    <! -- Se va a mostrar el valor de la DescripcionContainer -->
    @ViewBag.dataContainer.DescripcionContainer

    <! -- Se va a mostrar el valor de la Fecha de alta del container -->
    @ViewBag.dataContainer.FechaAlta
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
